
.detalle-pelicula {
    max-width: 1100px;
    margin: 4em auto;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    display: flex;
    gap: 2em;
    align-items: flex-start;
    color: white;
}

.detalle-contenido {
    flex: 2;

}

.detalle-contenido h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}
    
.detalle-contenido p { 
    line-height: 1.7;
    font-size: 1.1em;
    text-align: justify;
}

.detalle-imagen {
    flex: 1;
}

.detalle-imagen img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

.boton-volver {
    display: inline-block;
    margin-top: 1.5em;
    padding: 0.8em 1.6em;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
}

.boton-volver:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
